body, html{
    height: 100%;
    background-color: darkolivegreen;
    color: beige;
}

.pass{
    top: 200px;
    position: relative;
    text-align: center;
    flex-direction: row;
}
.items{
    top: 200px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}